<div class="four wide column">
    <a href="{{ client_path }}" target="_blank" style="display: inline-block; text-align: center;">
        <h4 class="ui inverted header" style="color: #808080;">
            Venez découvrir mes projets !
            <div class="sub header" style="padding: 5px 0;">{{ client_path }}</div>
        </h4>
        <img src="{{ api_path }}/assets/logo/logo.png" style="max-width: 170px;filter: brightness(0) invert(1);" alt="Logo" class="ui fluid image" />
    </a>
</div>
