<div class="col mb-3">
    <a href="{{ client_path }}" target="_blank" style="display: inline-block; text-align: center;">
        <h4>
            Venez découvrir mes projets !
            <div class="small">{{ client_path }}</div>
        </h4>
        <img class="img-fluid" style="max-width: 170px;" src="{{ api_path }}/assets/logo/logo.png" alt="Logo">
    </a>
</div>
