<div class="col-12 col-sm mb-3 text-sm-center">
    <p>&copy; {{ 'sylius.ui.your_store'|trans }}. {{ 'sylius.ui.powered_by'|trans }} <a href="https://github.com/lucianoBrd" target="_blank" style="color: #f0665f;">LucianoBrd</a>.</p>
    <p>
        <a target="_blank" href="https://www.facebook.com/people/Am%C3%A9d%C3%A9e/100067543488097/"><i class="fab fa-facebook fa-2x"></i></a>
        <a target="_blank" href="https://www.instagram.com/amedee.music/"><i class="fab fa-instagram fa-2x"></i></a>
        <a target="_blank" href="https://www.tiktok.com/@amedee.music"><i class="fab fa-tiktok fa-2x"></i></a>
    </p>
</div>
